@import"../../../styles.scss";
.mobileapp {
    left: 0;
    height: 50px;
    right: 0;
    background-image: linear-gradient(#32AAB2, #106666);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}
.alllibrary {
    padding-top: 1px !important;
    width: 100%;
}
.logoimage {
    width: 50%;
    @include MediaQuery(xs) {
        width: 50%;
        position: relative;
        right: -25%;
        top: 70px;
    }
    @include MediaQuery(s) {
        width: 50%;
        position: relative;
        right: -25%;
        top: 70px;
    }
    @include MediaQuery(M) {
        width: 50%;
        position: relative;
        right: -25%;
        top: 70px;
    }
}

::ng-deep {
    .changeColor {
        background-color: #1a5356 !important;
        width: 90% !important;
    }
}

.alllibrary {
    .librarycontainer{
        .cancelsearch{
            a{
                background-color: #106666;
                border-color: #106666;
                outline: none;
                box-shadow: none;
                cursor: pointer;
            }
        }
        //
        margin-bottom: 100px;
        @include MediaQuery(xs){
            padding: 0;
            margin-top: 0px;
            //
            margin-bottom: 130px;
        }
        @media screen and (max-width:320px){
            margin-top: 120px;
        }
        @include MediaQuery(s){
            padding: 0;
            margin-top: 100px;
        }
        @include MediaQuery(M){
            padding: 0;
            margin-top: 100px;
        }
    }
    ul {
        list-style-type: none;
        width: 90%;
        @include MediaQuery(xs + s + M) {
            width: 100%;
        }
        @include MediaQuery(L) {
            width: 100%;
        }
        display: flex;
        margin: 0 auto;
        padding: 0;
        justify-content: space-around;
        @include MediaQuery(xs) {
            margin: 0;
            padding: 0;
        }
        li {
            a {
                padding: 10px 50px;
                @include MediaQuery(xs) {
                    padding: 10px 20px;
                }
                background-color: $basicColor;
                border-radius: 10px;
                cursor: pointer;
                // font-size: 20px;
                font-size: 31px;
                color:#239298;
                &:hover,
                &:active,
                &:focus {
                    color: #fff !important;
                    outline: 0 !important;
                }
                @media screen and (max-width:319px) {
                    font-size: 12px;
                }
                @media screen and (min-width:320px)and (max-width:575.98px) {
                    font-size: 15px;
                }
                @include MediaQuery(s) {
                    // font-size: 15px;
                    font-size: 20px;
                }
            }
        }
        .song {
            color: #fff !important;
        }
    } 
}


//   music model
.secondModal {
    top: 33%;
    @include MediaQuery(M) {
        top: 41%;
    }
    .modal-content {
        background-color: #3EB7BA;
        border-radius: 25px;
        width: 80%;
        @include MediaQuery(xs + s) {
            width: 90%;
            margin: 0 auto;
        }
        @include MediaQuery(L) {
            width: 90%;
        }
        padding: 1% 2%;
    }
    .modal-body {
        padding-top: 0%;
    }
    .c-player {
        .firstimage {
            width: 40%;
            height: auto !important;
            padding-bottom: 20px;
            margin-top: -15px;
        }
    }
    h5 {
        text-align: center;
        display: block;
        color: #fff;
        padding-bottom: 10px;
    }
    span {
        text-align: center;
        display: block;
        color: #fff;
        padding-bottom: 10px;
    }
    .audio {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
        box-shadow: 0;
    }
    audio:focus {
        outline: none;
    }
    audio::-webkit-media-controls-panel {
        background-color: #3EB7BA !important;
        border: 0;
        outline: 0;
    }
    audio::-webkit-media-controls-enclosure {
        background-color: #3EB7BA !important;
    }
    audio::-webkit-media-controls-current-time-display {
        color: white;
    }
    audio::-webkit-media-controls-time-remaining-display {
        color: white;
    }
    aaudio::-webkit-media-controls-volume-slider-container {
        color: white !important;
    }
    .navigation {
        display: flex;
        margin-bottom: 10px;
        a {
            color: #fff;
            font-size: 25px;
            @media screen and (max-width:319px){
                font-size: 15px;
            }
            @media screen and (min-width:320px)and (max-width:348px){
                font-size: 20px;
            }
        }
        a:first-child {
            margin-top: 14px;
        }
        a:nth-child(2) {
            margin: 20px 25px 0;
            color: #1a5356 !important;
        }
        .secondimage {
            width: 70px;
            @media screen and (max-width:319px){
                width: 59px;
            }
            @media screen and (min-width:320px)and (max-width:348px){
                width: 60px;
            }
        }
        a:nth-child(4) {
            color: #1a5356 !important;
            margin: 20px 25px 0;
        }
        a:nth-child(5),
        a:nth-child(6) {
            margin-top: 20px;
        }
    }
    .mymini {
        position: fixed;
        right: 58%;
        @include MediaQuery(xs + s) {
            right: 82%;
        }
        @include MediaQuery(M) {
            right: 64%;
        }
        @include MediaQuery(L) {
            right: 65%;
        }
        @media screen and (min-width:1600px) {
            right: 56%;
        }
    }
    .myminilast {
        position: fixed;
        right:61%;
        @include MediaQuery(xs + s ){  right: 89%;}
        @include MediaQuery(M){  right: 78%;}
        @include MediaQuery(L){  right: 68%;}
        @media screen and (min-width:1600px) and(max-width:1900px) {right: 56%;}
        @media screen and (min-width:1901px) {right: 58%;}

    }
}

.mysearchinput {
    background: #106666;
    height: auto;
    // padding: 0 25px !important;
    padding: 0 12px 0 0 !important;

    border-radius: 50px;
    //
    margin: 0 auto;
    margin-top:215px;
    @media screen and (min-width:320px) and (max-width:359px) {
        margin-top:370px;
    }
    @media screen and (max-width:319px){
        margin-top: 300px;
    }
    margin-bottom: 50px;
}

input.form-control.border-right-0 {
    margin: 0 !important;
}

.input-group-append i {
    color: #fff;
    padding: 21px 0  13px 11px;
    cursor: pointer;
}


.mysearchinput input {background: transparent !important; 
    // text-align: center;
     color: #fff !important;border: 0;outline: transparent  !important;border: 0 !important;box-shadow: none !important;}

input.form-control.border-right-0 {
    padding: 20px  !important;
    height: 55px;
    padding-right: 0 !important;
}

::placeholder{ 
    // text-indent: inherit;
    // font-size:20px;
    font-size: 25px;
    color: #30a7ae;
    // text-align: center;
    // text-align: right;
    @include MediaQuery(xs){font-size:14px;}
    @include MediaQuery(s){font-size:17px; text-indent: inherit;}
    @include MediaQuery(M){font-size:17px; text-indent: inherit;}
    @include MediaQuery(L){font-size:19px; text-indent: inherit;}
     @include MediaQuery(XL-XXL){font-size:19px; text-indent: inherit;}
     @include MediaQuery(XXL){font-size:19px; text-indent: inherit;}
}



