@import "../../../../styles.scss";

.bg-white{
    background-color: #106666 !important;
}
.ng-invalid.ng-touched {
    border-color: #32AAB2 !important;
}
.alertMessage{
    color :white !important;
    margin-top: 10px;
}
form{
    margin-top: 34px;
    label{
        color :white !important;
    }
    .submitbutton{
        background-color: #32AAB2;
        border:none;
        box-shadow: none;
        outline: none;
        color :white !important;
        margin: 0 auto;
        display: block;
        font-size: 24px;
        font-weight: bold;
        padding: 7px 32px;
        margin-bottom: 20px;

    }
    input:focus{
        outline:none;
        border: none;
        box-shadow: none;
    }
    input::placeholder{
        text-indent: 5px !important;
    }
    .social{
        margin-top: 17px;
        span{
            color: white;
            font-weight: bold;
            font-size: 30px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .icons{
            list-style-type: none;
            color:white;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding-right: 0;
            li {
                i{
                    background-color: #32AAB2;
                    // padding: 18px;
                    border-radius: 50%;
                    font-size: 22px;
                    font-weight: bold;
                }
                .facebookicon{
                    padding: 18px 25px;
                    margin-left:20px;
                }
                .googleicon{
                    padding: 18px;
                    margin-right:20px;
                }
            }
        }
    }
    
    
}

.mobileapp {
    left: 0;
    height: 50px;
    right: 0;
    background-image: linear-gradient(#32AAB2, #106666);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}

.logoimage {
    width: 50%;
    @include MediaQuery(xs) {
        width: 50%;
        position: relative;
        right: -25%;
        top: 70px;
    }
    @include MediaQuery(s) {
        width: 50%;
        position: relative;
        right: -25%;
        top: 70px;
    }
    @include MediaQuery(M) {
        width: 50%;
        position: relative;
        right: -25%;
        top: 70px;
    }
}

.allcontainer{
    padding: 0 !important;
    // 
    margin-bottom: 100px;
}
.containerLogin{
    max-width: 480px;
    margin: 0 auto;
    margin-top: 0;
    border-radius: 15px;
    padding: 15px !important;
    color: #fff;
    @include MediaQuery(xs){
        margin-top: 40px;
    }
    .loginlink{
        margin-left: 20px;
        @media screen and (max-width:319px) {
            margin-left: 5px;
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #32AAB2 !important;
        background-color: white !important;
    }
    a{
        background-color: #32AAB2 !important;
        color: white !important;
        padding: 12px 10px;
        font-size: 18px;
        @media screen and (max-width:319px){
            padding: 12px 3px;
            font-size: 11px;
        }
        @media screen and (min-width:320px) and (max-width:359px){
            padding: 12px 3px;
            font-size: 13px;
        }
        @media screen and (min-width:360px) and (max-width:380px){
            padding: 12px 3px;
            font-size: 16px;
        }
        font-weight: bold;
    }
}
.bg-white{
    background-color: #106666 !important;
}

.titleModal {
    color: #fff;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.alertMessage{
    color: #fff !important;
}