<div class="HomeLogo">
    <img src="../../../assets/imgs/logo.png " class="">
</div>


<div class="">
    <div class="container allcontainer">
        
        <div class="p-sm-3 mb-5 mt-2">
            <div class="containerLogin bg-white p-5 mb-5">
                
                <h3 class="titleModal">اعادة تعيين كلمة المرور</h3>
                <form class="bg-white" #userResetPasswordForm="ngForm" (ngSubmit)="resetSubmit(oldpassword.value ,newpassword.value, confpassword.value)"> 

                    <div class="form-group text-right">
                        <label for="oldpassword">  كلمة المرور الحالية</label>
                        <input type="password" name="oldpassword" #oldpassword="ngModel" ngModel  class="form-control" id="oldpassword" placeholder=" كلمة المرور" required>
                
                        <div *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)"  class="alert alert-danger alertMessage">
                            <div *ngIf="oldpassword.errors.required">
                                كلمة المرور الحالية لا يمكن تركه فارغا
                            </div>
                        </div>
                    </div>


                    <div class="form-group text-right">
                        <label for="newpassword"> كلمة المرور الجديدة</label>
                        <input (keydown)="hideError()" type="password" name="newpassword" #newpassword="ngModel" ngModel  class="form-control" id="newpassword" placeholder=" كلمة المرور الحالية" required minlength="6">
                
                        <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)"  class="alert alert-danger alertMessage">
                            <div *ngIf="newpassword.errors.required">
                                كلمة المرور الجديدة لا يمكن تركه فارغا
                            </div>

                            <div *ngIf="newpassword.touched  && newpassword.errors?.minlength"  class="alert alert-danger alertMessage">
                                <div>
                                    يجب الا تقل كلمة المرور عن 6 حروف او ارقام
                                </div>
                            </div>

                        </div>
                    </div>

                
                    <div class="form-group text-right">
                        <label for="confpassword">  تاكيد كلمة المرور</label>
                        <input (keydown)="hideError()" type="password" name="confpassword" #confpassword="ngModel" ngModel  class="form-control" id="confpassword" placeholder=" كلمة المرور" required>
                
                        <div *ngIf="confpassword.invalid && (confpassword.dirty || confpassword.touched)"  class="alert alert-danger alertMessage">
                            <div *ngIf="confpassword.errors.required">
                                تاكيد كلمة المرور لا يمكن تركه فارغا
                            </div>

                            

                        </div>

                        <div *ngIf="isMathchs" class="alert alert-danger alertMessage">
                            يجب ان تطابق كلمة المرور الجديدة
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    
                    <div class="text-right">
                        <button type="submit" [disabled]="userResetPasswordForm.invalid" class="btn submitbutton"> اعادة تعيين </button>
                        <div *ngIf="isLoading" class="loadinSection">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div>    
</div>
