@import "../../../styles";

.navbar{z-index: 1000000;}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active
{color:white;}
.navbar-dark .navbar-brand{img{width:220px;}}
.navbar-dark .navbar-nav .nav-link{font-size: 15px;margin-right: 20px;color:$basicColor;
    text-transform: uppercase;   font-weight: bolder;
    &:hover{color:white;}
    // display:grid !important;
    display: flex;
    flex-direction: column;
}
.navbar-dark .navbar-nav .nav-item{margin-top:13px;cursor:pointer;outline:0;border:0;
  .ico{font-size: 27px;text-align:center;
  // margin-right: -9px;
  margin-right: 0px;

}
}
// .navbar-dark .navbar-toggler{ span{ display: block;background-color:$basicColor;
//   height: 3px;width: 25px;margin-top: 4px; margin-bottom: 5px;}
// }
.bg-dark{background: none !important;}
.userresponsive{
  text-transform: lowercase !important;
}
::ng-deep{.navbar-dark .navbar-nav .navt{margin-top:1px;.nav-link:hover{color:$basicColor !important;}}}


 //responsive
@include MediaQuery(xs+s+M){
  .navbar-dark .navbar-nav{text-align: start !important;
    // margin-top:23px;
    li{text-align: center; img{display: block;width: 50px;height: 50px;margin:0 auto;}
    .nav-link{position: relative; 
      // left: 60%;
      left: 68%;
      font-size: 10px;
    }
    // margin-bottom: 15px;
    // margin-bottom: 5px;
    margin-bottom: 3px;
  }
    }
    .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link,
    .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active
    {border-color: white;}
  .navbar{padding: 0;margin-right: 0;margin-left: 0;
    // width:100px;
    height: 100%;position: fixed;
    opacity:0.9;z-index: 100;left: 0;top:0;max-height: 100%;

  }
  .navbar-dark .navbar-nav .nav-item{margin-top: 0px;}
  .navbar-dark .navbar-brand{
    margin-right: 0;opacity:0.9;position: absolute;z-index: 100000000;top:0; } 
    .navbar-dark .navbar-brand{display: none;}
    
  // .navbar-toggler[aria-expanded="false"] {
  //   position: absolute;top:100px;border: none;cursor: pointer;outline: none;left: 20px;
    
  //   }
  .navbar-toggler{
    position: absolute;top:100px;border: none;cursor: pointer;outline: none;left: 20px;
    color:$basicColor;
    i{font-size: 30px;}
    
    }

  // .navbar-toggler[aria-expanded="true"] {position: fixed;top:27px;border: none;outline: none;
  //   z-index: 100000000;span:nth-child(2){display: none;}
  //   span:nth-child(1){transform: rotate(-45deg);width: 21px;background-color:white;}
  //   span:nth-child(3){transform: rotate(45deg);margin-top: 10px;width: 21px;background-color:white;}

  //   }
    .bg-dark{background: none !important;}
    .bdark{background-color:#32AAB2 !important;opacity:0.8;} 
    .navbar-collapse{position: fixed;}
    .mysecondbutton{
      position: fixed;
    // top: 27px;
    top:-4px;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    z-index: 1000000;
    }
    .userresponsive{
    
      width: 64px;
      word-break: break-all;
    }
}
@media screen and (max-width:319px){
  .navbar-collapse{top:55px;}
  .navbar-toggler{
  //  top:87px;
  top:107px;
  left: 10px;
   i{font-size: 26px;}
  }
}
@media screen and (min-width:320px)and (max-width:359px){
  .navbar-collapse{top:59px;margin-bottom:1px;}
  .navbar-toggler{
   top:103px;
   i{font-size: 26px;}
  }
}
@media screen and (min-width:540px)and (max-width:575.98px){
  .navbar-toggler{
   top:126px;
  }
}
@include MediaQuery(s){
   .navbar-toggler{
    left: 46px;top: 70px;
    i{font-size: 45px;}
  }

}
@include MediaQuery(M){
  // .navbar-dark .navbar-toggler[aria-expanded="false"] {
  //   left: 46px;top:84px;
  //   span{width:52px;height:7px;}
  // }
   .navbar-toggler{
    left: 46px;
    top:87px;
    i{font-size: 54px;}
  }

}
//
@include MediaQuery(L){
//   .navbar-dark .navbar-toggler[aria-expanded="false"] {
//     left: 46px;top:84px;
//     span{width:52px;height:7px;display: none !important;
//   }
// }
 .navbar-toggler{
  left: 46px;top:84px;
  display: none !important;
}
.navbar-dark .navbar-brand{img{width:119px;}}
.nav-link{font-size: 10px;}
}
// comment
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 0;
  z-index: 1;
  margin: auto;
  // background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width:992px){
  .navbar-toggler{
    display: none !important;
  }
}

button.navbar-toggler {
  z-index: 10 !important;
}