
<div class="d-xs-block d-lg-none paddingTop1">
    <a href={{mobileAppUrl}} class="mobileapp">{{headerMessage}}</a>
  </div>  

<div class="">
    <div class="HomeLogo">
        <img src="../../../assets/imgs/logo.png " class="">
    </div>

    <div class="privacy mt-3" >

        
        <div class="container-fluid">

        
             <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h1>سياسة الخصوصية</h1>
                </div>
                 <div class="col-xs-12 col-md-8">
                    <p class="text-center">
                     تحكم سياسة الخصوصية هذه الطريقة التي تجمع وتستخدم وتحافظ وتكشف عبرها راديو يبوس عن المعلومات التي يتم جمعها من المستخدمين (كل منهم، "مستخدم") من موقع www.yaboos.fm وتطبيق yaboos fm ("الموقع/التطبيق"). تنطبق سياسة الخصوصية هذه على الموقع/التطبيق وجميع المنتجات والخدمات التي يقدمها راديو يبوس. نستخدم بياناتك لتوفير الخدمة وتحسينها. عبر استخدامك لهذه الخدمة، فإنك توافق على جمع واستخدام المعلومات وفقًا لهذه السياسة
                    </p>
                </div>
                 <div class="col-xs-12 col-md-12">
                    <h3> معلومات التعريف الشخصية:  </h3>
                </div>
                <div class="col-md-12">
                    <h4> البيانات الشخصية </h4>
                </div>
                <div class="col-xs-12 col-md-8">
                    <p class="text-center">  قد نقوم بجمع معلومات التعريف الشخصية من المستخدمين بطرق متنوعة، بما في ذلك وعلى سبيل المثال لا الحصر، عندما يزور المستخدمون موقعنا ويسجلون دخولهم على الموقع، وفيما يتعلق بأنشطة أو خدمات أو ميزات أو موارد أخرى نوفرها على موقعنا/التطبيق. قد يُطلب من المستخدمين، حسب الاقتضاء، الاسم وعنوان البريد الإلكتروني ومعلومات بطاقة الائتمان. ومع ذلك، يجوز للمستخدمين زيارة موقعنا/تطبيقنا بشكل مجهول. سنقوم بجمع معلومات التعريف الشخصية من المستخدمين فقط إذا قاموا بتقديم هذه المعلومات لنا طوعاً. يمكن للمستخدمين دائمًا رفض تقديم معلومات تحديد الهوية الشخصية باستثناء أنها قد تمنعهم من المشاركة في أنشطة معينة متعلقة بالموقع/التطبيق.    </p>
                </div>
                <div class="col-md-12">
                    <h3> معلومات التعريف غير الشخصية: </h3>
                </div>
                <div class="col-md-12">
                    <h4>  بيانات الأستخدام</h4>
                </div>
                <div class="col-xs-12 col-md-8">
                    <p class="text-center"> قد نقوم بجمع معلومات التعريف غير الشخصية عن المستخدمين كلما تفاعلوا مع موقعنا/تطبيقنا. قد تتضمن معلومات التعريف غير الشخصية اسم المتصفح ونوع الكمبيوتر والمعلومات التقنية حول وسيلة اتصال المستخدمين بموقعنا/تطبيقنا، مثل نظام التشغيل وموفري خدمة الإنترنت ومعلومات أخرى مماثلة.         </p>
                </div>
            </div>
        </div>
    </div>
</div>


