<div class="d-xs-block d-lg-none">
    <a class="mobileapp">{{headerMessage}}</a>
</div>

<div class="homepage">
    <div class="container allcontainer">
        <div class="HomeLogo m-0">
            <img src="../../../assets/imgs/logo.png " class="">
        </div>

        <div class="p-sm-3 mt-2">
            <div class="containerLogin bg-white p-5">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link loginlink" [routerLink]="['/login']" routerLinkActive="active">تسجيل دخول</a>
                    <a class="nav-item nav-link" [routerLink]="['/signup']" routerLinkActive="active">إنشاء حساب </a>
                </nav>
                <!-- <hr> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>    
</div>
