<div class="d-xs-block d-lg-none">
    <a href={{mobileAppUrl}} class="mobileapp">{{headerMessage}}</a>
  </div>  
  <img src="../../../assets/imgs/logo.png " class="d-xs-block d-lg-none  logoimage">
  <br><br><br><br><br> 

<div class="library">
    <div class="container">
        <!-- start libaray tabs  -->
        <div class="row ">
            <ul class="row ">
               <li class="song" ><a >الاغانى المفضلة</a></li>
              </ul>
        </div>
        <!-- end libaray tabs  -->
        <!-- start songs sections  -->
        <div class="row justify-content-center">
            <div class="box col-xs-12">
                    <div class="col-sm-12 float-right  col-xs-12">
                            <div class="row">
                                <div class="songitems col-md-12 mt-sm-2 p-0">
                                    <div class="songs">                                                                       
                                        <div class="col-10 float-left list" (click)="openmusicmodel()">
                                                <span>أماكن السهر</span>
                                            <i class="fas fa-play-circle pr-2"></i>
                                        </div>
                                        <div class="col-2  float-right icons">
                                            <i class="fas fa-download" ></i>               
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>   
                                    <div class="songs">                                                                       
                                        <div class="col-10 float-left list" (click)="openmusicmodel()">
                                            <span>أماكن السهر</span>
                                            <i class="fas fa-play-circle pr-2"></i>
                                        </div>
                                        <div class="col-2  float-right icons">
                                            <i class="fas fa-download" ></i>               
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>   
                                    <div class="songs">                                                                       
                                        <div class="col-10 float-left list" (click)="openmusicmodel()">
                                            <span>أماكن السهر</span>
                                            <i class="fas fa-play-circle pr-2"></i>
                                        </div>
                                        <div class="col-2  float-right icons">
                                            <i class="fas fa-download" ></i>               
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>    
                                    <div class="clearfix"></div>
                                    <div class="songs">                                                                       
                                        <div class="col-10 float-left list" (click)="openmusicmodel()">
                                            <span>أماكن السهر</span>
                                            <i class="fas fa-play-circle pr-2"></i>
                                        </div>
                                        <div class="col-2  float-right icons">
                                            <i class="fas fa-download" ></i>               
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>    
                                    <div class="clearfix"></div>






                                    <!-- المزيد  -->
                                    <div class="more col-xs-3">
                                        <a  (click)="loadmoresongs()">المزيد</a>
                                    </div>
                                </div> 
                            </div>
                        </div>  

                <!-- <div class="songitems">
                    <a class="one" (click)="openmusicmodel()">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                         <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                </div>
                <div class="songitems">
                    <a class="one">
                        <span>أماكن السهر</span>
                        <i class="fas fa-play-circle  pr-2"></i>
                    </a>
                    <a class="two" href="" target="_blank" download>
                        <i class="fas fa-download"></i>
                    </a>  
                 </div>       -->
            </div>
        </div>
         <!-- end songs sections  -->
    </div>
</div>

<!-- start MusicModal -->
<div class="modal fade secondModal" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="isPlaying" aria-hidden="true" data-backdrop="false" data-keyboard="false" [style.display]="isPlaying ? 'block' : 'none'" [class.show]="isPlaying">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="con">
            <div class="modal-body">
                <div class="row">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
              <i class="fas fa-times-circle" (click)="closeMedia()"> </i>
            </span>
                    </a>
                    <a class="close" class="mini">
                        <span aria-hidden="true">
              <i *ngIf="hidelate" class="fas fa-chevron-right mymini"  style="transform: rotate(90deg);" (click)="myhello()"></i>
              <i *ngIf="hidenow" class="fas fa-chevron-right myminilast"  style="transform: rotate(270deg);" (click)="opensmodal()"></i>
              <!-- (click)="showminiwindow()"  aria-label="Close"   data-dismiss="modal"  -->

              <!-- <i (click)="showminiwindow()"><img src="../../../assets/imgs/minimize.png"></i> -->
            </span>
                    </a>
                </div>
                <!-- *** -->
                <div class="c-player">
                    <div class="row justify-content-center ">
                        <img class="firstimage" src="../../../assets/imgs/artistimage.png" alt="" srcset="">
                    </div>

                    <div class="c-player__details">
                        <div class="audio justify-content-center row">
                            <audio id="songplayer" [src]="currentSongURL" controls controlsList="nodownload" autoplay style="display: none;"></audio>
                        </div>
                        <div class="navigation  row  justify-content-center">
                            <a href="" target="_blank"><i class="fas fa-download"></i></a>
                            <a><i class="fas fa-forward" ></i></a>
                            <a id="mybuttonplay">
                                <img class="secondimage" *ngIf="mainicon" src="../../../assets/imgs/playericon.png" (click)="showanothericon()">
                                <img class="secondimage" *ngIf="songPlayIcon" src="../../../assets/imgs/playedicon.png" (click)="showamainicon()" >

                            </a>

                            <a *ngIf="thisicon" (click)="showamainicon()"><img class="secondimage" src="../../../assets/imgs/playedicon.png"></a>
                            <a><i class="fas fa-backward"></i></a>
                            <a *ngIf="hideheart" (click)="changeheart()"><i class="fas fa-heart"></i> </a>
                            <a *ngIf="showanotherheart"><i class="far fa-heart"></i> </a>
                        </div>
                        <h5>أماكن السهر</h5>
                    </div>
                </div>
                <!-- *** -->
            </div>
        </div>
    </div>
</div>

<!-- end MusicModal -->