.bg-white{
    background-color: #106666 !important;
}
.ng-invalid.ng-touched {
    border-color: #32AAB2 !important;
}
.alertMessage{
    color :white !important;
    margin-top: 10px;
}
form{
    margin-top: 34px;
    label{
        color :white !important;
    }
    .submitbutton{
        background-color: #32AAB2;
        border:none;
        box-shadow: none;
        outline: none;
        color :white !important;
        margin: 0 auto;
        display: block;
        font-size: 24px;
        font-weight: bold;
        padding: 7px 32px;
        margin-bottom: 20px;

    }
    input:focus{
        outline:none;
        border: none;
        box-shadow: none;
    }
    input::placeholder{
        text-indent: 5px !important;
    }
    .social{
        margin-top: 17px;
        span{
            color: white;
            font-weight: bold;
            font-size: 30px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .icons{
            list-style-type: none;
            color:white;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding-right: 0;
            li {
                i{
                    background-color: #32AAB2;
                    // padding: 18px;
                    border-radius: 50%;
                    font-size: 22px;
                    font-weight: bold;
                }
                .facebookicon{
                    padding: 18px 25px;
                    margin-left:20px;
                }
                .googleicon{
                    padding: 18px;
                    margin-right:20px;
                }
            }
        }
    }
    
    
}