
<div *ngIf=" minUrlPage != '/Home' && minUrlPage != '/'" class="Home">
    <div *ngIf="PlayerTypes != null" class="modalContainer popUpView{{popupVar}}">

        <div class="modalBody">
            <div class="btnHeaderTog{{popupVar}}">
                <button (click)="setPopUp()" class="btnToggle">
                    <img *ngIf="popupVar === 'true'" src="../../../assets/imgs/scr_f1.png" >
                    <img *ngIf="popupVar != 'true'" src="../../../assets/imgs/scr_f2.png" >
                </button>
                
                <button (click)="ActionclosePlayer()" class="btnToggle">
                    <img src="../../../assets/imgs/close-s1.png" >   
                </button>
            </div>
            

            <div *ngIf="PlayerTypes === 'live'" class="radipTemplate radioTemplate{{popupVar}}">
    
                <div class="textContentLive">
                    <div class="palyerContent text-left">
                        <h2 >البث المباشر</h2>
                        {{PlayerTitle}}
                    </div>
                </div>
                
    
                <div class="liveButtonSection">
                    <div class="text-right">
                        <button class="ngClassFav" (click)="PlayRadio(playerStatus)">
                            <img *ngIf="playerStatus != true " src="../../../assets/imgs/Materials-04.png" >
                            <img *ngIf="playerStatus === true "  src="../../../assets/imgs/Materials-05.png" >
                        </button>
                    </div>
                </div>
                
            </div>
    
            <div *ngIf="PlayerTypes === 'track'" class="trackTemplate trackTemplate{{popupVar}}">
    
    
                <div *ngIf="PlayImageVar != null" class="imageTrack imageTrack{{popupVar}}">
                    <img  src="{{Main_URL}}/{{PlayImageVar}}" alt="">
    
                </div>
    
                <div *ngIf="PlayImageVar === null" class="imageTrack imageTrack{{popupVar}} bg-transparent">
                    <img  src="../../../assets/imgs/CD_GIF.gif" alt="">
                </div>
    
                
    
                
                
                <div class="trackSeekBar">
                    <div class="TrackTitleText">
                        {{PlayerTitle}}
                    </div>
    
                    <input class="rangTrack" type="range" min="0" max="{{durationSeek}}" [value]="seek" (input)="setSeekTo($event)"/>
                    <span>{{duration}}</span>/<span>{{currentTime}}</span>
                </div>
    
                <div class="trackButtons">
                    
                    <button *ngIf="isFavorite === true && songIdVar != null" (click)="deleteFromFavorite()" class="ngClassFav ngClassFav{{popupVar}}" >
                        
                        <img *ngIf="playerStatus === true "  src="../../../assets/imgs/fav-s1.png" >
                    </button>

                    <button *ngIf="isFavorite != true && songIdVar != null" (click)="addToFavorite()" class="ngClassFav ngClassFav{{popupVar}}" >
                        <img *ngIf="playerStatus === true "  src="../../../assets/imgs/fav-s2.png" >
                    </button>

                    <button (click)="setNext30()" class="ngClassFav ngClassFav{{popupVar}}">
                        <img src="../../../assets/imgs/Materials-06.png">  
                    </button>

                    <button  class="ngClassFav" (click)="PlayRadio(playerStatus)">
                        <img  *ngIf="playerStatus != true " src="../../../assets/imgs/Materials-04.png" >
                        <img  *ngIf="playerStatus === true "  src="../../../assets/imgs/Materials-05.png">
                    </button>
    

                    <button (click)="setBack30()" class="ngClassFav ngClassFav{{popupVar}}">
                        <img src="../../../assets/imgs/Materials-07.png">  
                    </button>
                </div>
                
    
            </div>
    
        </div>
    </div>
</div>



<div *ngIf=" minUrlPage === '/Home' && PlayerTypes === 'track'" class="Home">
    <div *ngIf="PlayerTypes != null" class="modalContainer popUpView{{popupVar}}">

        <div class="modalBody">
            
            <div class="btnHeaderTog{{popupVar}}">
                <button (click)="setPopUp()" class="btnToggle">
                    <img *ngIf="popupVar === 'true'" src="../../../assets/imgs/scr_f1.png" >
                    <img *ngIf="popupVar != 'true'" src="../../../assets/imgs/scr_f2.png" >
                </button>
                <button (click)="ActionclosePlayer()" class="btnToggle">
                    <img src="../../../assets/imgs/close-s1.png" >   
                </button>

            </div>
            
            <div *ngIf="PlayerTypes === 'track'" class="trackTemplate trackTemplate{{popupVar}}">
    
    
                <div *ngIf="PlayImageVar != null" class="imageTrack imageTrack{{popupVar}}">
                    <img  src="{{Main_URL}}/{{PlayImageVar}}" alt="">
    
                </div>
    
                <div *ngIf="PlayImageVar === null" class="imageTrack imageTrack{{popupVar}} bg-transparent">
                    <img  src="../../../assets/imgs/CD_GIF.gif" alt="">
                </div>
    
 
                
                <div class="trackSeekBar">
                    <div class="TrackTitleText">
                        {{PlayerTitle}}
                    </div>
    
                    <input class="rangTrack" type="range" min="0" max="{{durationSeek}}" [value]="seek" (input)="setSeekTo($event)"/>
                    <span>{{duration}}</span>/<span>{{currentTime}}</span>

                </div>
    
                <div class="trackButtons">
                    
    
                    <button *ngIf="isFavorite === true && songIdVar != null" (click)="deleteFromFavorite()" class="ngClassFav ngClassFav{{popupVar}}" >
                        
                        <img *ngIf="playerStatus === true "  src="../../../assets/imgs/fav-s1.png" >
                    </button>

                    <button *ngIf="isFavorite != true && songIdVar != null" (click)="addToFavorite()" class="ngClassFav ngClassFav{{popupVar}}" >
                        <img *ngIf="playerStatus === true "  src="../../../assets/imgs/fav-s2.png" >
                    </button>

                    <button (click)="setNext30()" class="ngClassFav ngClassFav{{popupVar}}">
                        <img src="../../../assets/imgs/Materials-06.png">  
                    </button>

                    <button  class="ngClassFav" (click)="PlayRadio(playerStatus)">
                        <img  *ngIf="playerStatus != true " src="../../../assets/imgs/Materials-04.png" >
                        <img  *ngIf="playerStatus === true "  src="../../../assets/imgs/Materials-05.png">
                    </button>

                    <button (click)="setBack30()" class="ngClassFav ngClassFav{{popupVar}}">
                        <img src="../../../assets/imgs/Materials-07.png">  
                    </button>
                </div>
                
                
    
            </div>
    
        </div>
    </div>
</div>





<div style="display: none;">
    
    {{PlayerTypes}}
{{playerStatus}} //
{{PlayImageVar}}
//
{{playerVolumeVal}} //
{{PlayerTypes}}


    <input type="range" min="0" max="1" step="0.01" value="{{playerVolumeVal}}" (input)="setVolume($event)"/>
</div>

