<div class="d-xs-block d-lg-none p-1">
    <a class="mobileapp">{{headerMessage}}</a>
</div>

<div class="HomeLogo mt-3">

    <img src="../../../assets/imgs/logo.png " class="mt-5">
</div>


<div class="homepage">
    <div class="tools">
        <div class="container mt-3 p-0">
    
            <!-- <div class="HomeLogo">
                <img src="../../../assets/imgs/logo.png " class="iconTools">
            </div> -->
    
    
            <div class="">
                <ul class="tools-tab" *ngIf="hidesection">
                    <li (click)="sohwsoundrate()" class="firstchild">
                        <a><img src="../../../assets/imgs/Group 650.png"></a>
                        <h3>معادل الصوت</h3>
                    </li>
                    <li (click)="sohwtoplive()">
                        <a><img src="../../../assets/imgs/Group 646.png"></a>
                        <h3>إيقاف البث </h3>
                    </li>
                    <li (click)="sohwalarm()" class="alarmimage">
                        <a><img src="../../../assets/imgs/alarm.png"></a>
                        <h3>المنبه </h3>
                    </li>
                </ul>
            </div>
            <div class="firstdiv" *ngIf="soundratesection">
                <div class="seprate mt-3">
                    <a><img src="../../../assets/imgs/Group 650.png" class="iconTools"></a>
                    <h3>معادل الصوت </h3>
                </div>
                <div class="">
                    <ul >
                        <li (click)="Highest()">
                            <a>
                                <img *ngIf="playerVolume != 'Highest'" id="Highest" src="../../../assets/imgs/Selected.png">
                                <img *ngIf="playerVolume === 'Highest'" id="Highest" src="../../../assets/imgs/myplayedimage.png">
                            </a>
                            <h5>عالى </h5>
                        </li>
                        <li (click)="meduim()">
                            <a>
                                <img *ngIf="playerVolume != 'meduim'" id="Highest" src="../../../assets/imgs/Selected.png">
                                <img *ngIf="playerVolume === 'meduim'" id="Highest" src="../../../assets/imgs/myplayedimage.png">
                            </a>
                            <h5>عالى <br> متوسط </h5>
                        </li>
                        <li (click)="low()">
                            <a>
                                <img *ngIf="playerVolume != 'low'" id="Highest" src="../../../assets/imgs/Selected.png">
                                <img *ngIf="playerVolume === 'low'" id="Highest" src="../../../assets/imgs/myplayedimage.png">
                            </a>
                            <h5>منخفض <br> متوسط </h5>
                        </li>
                        <li (click)="lowest()">
                            <a>
                                <img *ngIf="playerVolume != 'lowest'" id="Highest" src="../../../assets/imgs/Selected.png">
                                <img *ngIf="playerVolume === 'lowest'" id="Highest" src="../../../assets/imgs/myplayedimage.png">
                            </a>
                            <h5>عميق</h5>
                        </li>
                    </ul>
                </div>
    
                <a class="prev" (click)="returntoolpage()">
                    <i class="fas fa-share"></i>
                </a>
    
            </div>
            <div class="firstdiv" *ngIf="stoplivesection">
                <div class="seprate">
                    <a><img src="../../../assets/imgs/Group 646.png" class="iconTools"></a>
                    <h3>إيقاف البث </h3>
                </div>
                <div class="">
                    <ul>
                        <li (click)="AutoStopTime(1800000, '30mn')">
                            <a><img *ngIf="stopImage != '30mn'" id="stopThirtyMin" src="../../../assets/imgs/Group 1084.png"></a>
                            <a><img *ngIf="stopImage === '30mn'" id="stopThirtyMin" src="../../../assets/imgs/stop.png"></a>
                            <h5>30 دقيقة </h5>
                        </li>
                        <li (click)="AutoStopTime(3600000, '60mn')">
                            <a><img *ngIf="stopImage != '60mn'" id="stopSixtyMin" src="../../../assets/imgs/Group 1084.png"></a>
                            <a><img *ngIf="stopImage === '60mn'" id="stopSixtyMin" src="../../../assets/imgs/stop.png"></a>
                            <h5>60 دقيقة </h5>
                        </li>
                        <li (click)="AutoStopTime(5400000, '90mn')">
                            <a><img *ngIf="stopImage != '90mn'" id="stopNintyMin" src="../../../assets/imgs/Group 1084.png"></a>
                            <a><img *ngIf="stopImage === '90mn'" id="stopNintyMin" src="../../../assets/imgs/stop.png"></a>
                            <h5> 90 دقيقة </h5>
                        </li>
                    </ul>
                </div>
                <a class="prev">
                    <i class="fas fa-share" (click)="returnpage()"></i>
                </a>
            </div>
            <div class="firstdiv" *ngIf="alarmsection">
                <div class="seprate sepratealarm">
                    <a><img src="../../../assets/imgs/alarm.png" class="iconTools mt-5"></a>
                    <h3>المنبه </h3>
                </div>
                <div class="">
                   <!-- start alarm time -->
                    <div class="modal modal1"  id="examModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form  #PlayerAutoPlayForm="ngForm" (ngSubmit)="PlayerAutoPlaySubmit(hour1.value, hour2.value, minute1.value, minute2.value)"> 
    
                                    <div class="alltime pt-4 pb-3" dir="ltr">
                                            <div class="mylivehours myinputs">
                                                <input type="number" name="hour1" #hour1="ngModel" ngModel
                                                    class="mr-2" placeholder="0" (keyup)="keytab($event)"
                                                onKeyPress="if(this.value.length==1) return false;" >
                                                <input type="number" name="hour2" #hour2="ngModel" ngModel
                                                    placeholder="0" (keyup)="keytab($event)"
                                                    onKeyPress="if(this.value.length==1) return false;" >
                                            </div>
    
                                            <span>:</span>
                                            <div class="mylivehours myinputs">
                                                <input type="number" name="minute1" #minute1="ngModel" ngModel
                                                    class="mr-2" placeholder="0" (keyup)="keytab($event)"
                                                onKeyPress="if(this.value.length==1) return false;" >
                                                <input type="number" name="minute2" #minute2="ngModel" ngModel
                                                    placeholder="0" (keyup)="keytab($event)"
                                                    onKeyPress="if(this.value.length==1) return false;" >
                                            </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn confirmbtn"> 
                                          تأكيد 
                                        </button>
                                    </div>
                                </form>
    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end alarm time -->
                </div>
                <a class="prev">
                    <i class="fas fa-share" (click)="returnmainpage()"></i>
                </a>
            </div>
        </div>
    </div>
    
</div>


<!-- start MusicModal -->
<div class="modal fade secondModal" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="closmymedia" aria-hidden="true" data-backdrop="false" data-keyboard="false" [style.display]="closmymedia ? 'block' : 'none'" [class.show]="closmymedia">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="con">
            <div class="modal-body">
                <div class="ow">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fas fa-times-circle" (click)="closemyMedia()"> </i>
                        </span>
                    </a>
                    <a class="close" class="mini">
                        <span aria-hidden="true">
                        <i *ngIf="hidelate" class="fas fa-chevron-right mymini"  style="transform: rotate(90deg);" (click)="myhello()"></i>
                        <i *ngIf="hidenow" class="fas fa-chevron-right myminilast"  style="transform: rotate(270deg);" (click)="opensmodal()"></i>

                        </span>
                    </a>
                </div>
                <!-- *** -->
                <div class="c-player">
                    <div class="justify-content-center ">
                        <img class="firstimage" src="../../../assets/imgs/artistimage.png" alt="" srcset="">
                    </div>

                    <div class="c-player__details">
                        <div class="audio justify-content-center">
                            <audio id="songplayer" [src]="currentSongURL" controls controlsList="nodownload" autoplay style="display: none;"></audio>
                        </div>
                        <div class="navigation justify-content-center">
                            <a href="" target="_blank"><i class="fas fa-download"></i></a>
                            <a><i class="fas fa-forward" ></i></a>
                            <a id="mybuttonplay">
                                <img class="secondimage" *ngIf="mainicon" src="../../../assets/imgs/playericon.png" (click)="showanothericon()">
                                <img class="secondimage" *ngIf="songPlayIcon" src="../../../assets/imgs/playedicon.png" (click)="showamainicon()" >

                            </a>

                            <a *ngIf="thisicon" (click)="showamainicon()"><img class="secondimage" src="../../../assets/imgs/playedicon.png"></a>
                            <a><i class="fas fa-backward"></i></a>
                            <a *ngIf="hideheart" (click)="changeheart()"><i class="fas fa-heart"></i> </a>
                            <a *ngIf="showanotherheart"><i class="far fa-heart"></i> </a>
                        </div>
                        <h5>أماكن السهر</h5>
                    </div>
                </div>
                <!-- *** -->
            </div>
        </div>
    </div>
</div>

<!-- end MusicModal -->