<div class="d-xs-block d-lg-none">
    <a href={{mobileAppUrl}} class="mobileapp">{{headerMessage}}</a>
</div>
<img src="../../../assets/imgs/logo.png " class="d-xs-block d-lg-none  logoimage">
<br><br><br><br><br>

<div class="socialmedia">
    <div class="container">
        <div class=" row first justify-content-center">
            <a (click)=" mylogsection()" data-toggle="modal" data-target="#signneIn"><img src="../../../assets/imgs/email.png" class="emailicon"></a>
            <a><img src="../../../assets/imgs/tel.png" class="telicon"></a>
            <a><img src="../../../assets/imgs/google.png" class="googleicon"></a>
            <a><img src="../../../assets/imgs/instgram.png" class="instgramicon"></a>
            <a><img src="../../../assets/imgs/facebook.png" class="facebookicon"></a>
        </div>
    </div>
    <div class="second">
        <div class="container">
            <div class="mx-auto">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-simple btn-danger btn-roun" aria-disabled="false" routerLink="/Home" style="outline:none;box-shadow:none;">
                        <span> استمر</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ************************** -->
<!-- sign in  -->
<div class="modal mysmodal signIn sr " id="signneIn" aria-hidden="true" tabindex="-1" role="dialog" *ngIf="engez">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">  
                      <i class="fas fa-times-circle" > </i>
                    </span>
                    </a>
                </div>
                <!-- *** -->
                <div class="loginform">
                    <h1> تسجيل الدخول</h1>

                    <form action="#" #myform="ngForm" [formGroup]="loginForm" (ngSubmit)="singinfun(myform.value)">
                        <!-- <input type="text" placeholder=" البريد الإلكتروني او اسم المستخدم" autocomplete="off" name="username" [ngModel]="userObj.username"> -->
                        <div class="form-group">
                            <!-- <label>اسم المستخدم أو البريد الإلكتروني</label> -->
                            <input type="text" placeholder=" البريد الإلكتروني او اسم المستخدم" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': loginForm.controls.username.errors }" />
                            <error-message [control]="loginForm.controls.username" *ngIf="submitted"></error-message>
                        </div>



                        <!-- <input class="form-control " type="password" placeholder=" كلمة المرور" autocomplete="off" name="password" [ngModel]="userObj.password"> -->
                        <div class="form-group">
                            <!-- <label>كلمة المرور</label> -->
                            <input type="password" placeholder=" كلمة المرور" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid':  loginForm.controls.password.errors }"  />
                            <error-message [control]="loginForm.controls.password" *ngIf="submitted"></error-message>
                        </div>

                        <input type="submit" value="الدخول" style="background-color: white;" class="btn btn-block" >
                        <a class="pt-3" style="color: white;" (click)=" mysignupsection()" data-toggle="modal" data-target="#Register">إنشاء حساب</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- register -->
<div class="modal fade mysmodal spop sr" id="Register" *ngIf="signpop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">  
              <i class="fas fa-times-circle"> </i>
            </span>
                    </a>
                </div>
                <!-- *** -->
                <div class="loginform">
                    <h1>انشاء حساب</h1>
                    <!-- [formGroup]="registerForm"  -->
                    <form action="#" #formRegister="ngForm" (ngSubmit)="Register(formRegister.value)">
                        <!-- <input class="form-control" type="email" placeholder="البريد الإلكتروني" autocomplete="off" name="username" [ngModel]="userObj.username"> -->
                        
                        <!-- <div class="form-group">
                            <input type="text" placeholder="البريد الإلكتروني" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.username.errors }" />
                            <error-message [control]="registerForm.controls.username" *ngIf="registersubmitted"></error-message>
                        </div> -->
                        <input  ngModel name="email" #email="ngModel" type="email" placeholder="البريد الإلكتروني" class="form-control" autocomplete="off" required email>
                        <span  *ngIf="email.touched  && email.errors?.required"
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                               البريد الإلكتروني مطلوب * 
                        </span>
                        <span  *ngIf="email.touched  && email.errors?.email"
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                              هذا لا يطابق بريد الكترونى * 
                        </span>
                              
                       

                        <!-- <input class="form-control" type="text" placeholder="الأسم" autocomplete="off" name="name" [ngModel]="userObj.name"> -->
                        
                        <!-- <div class="form-group">
                            <input type="text" placeholder="اسم المستخدم" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.name.errors }" />
                            <error-message [control]="registerForm.controls.name" *ngIf="registersubmitted"></error-message>
                        </div> -->
                        <input type="text" ngModel name="name" #name="ngModel" placeholder="اسم المستخدم"  class="form-control" autocomplete="off" required>
                        <span  *ngIf="name.invalid && name.touched "
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                                اسم المستخدم مطلوب * 
                        </span>
                             
                           

                        <!-- <input class="form-control" type="password" placeholder=" كلمة المرور" autocomplete="off" name="password" [ngModel]="userObj.password"> -->
                        <!-- <div class="form-group">
                            <input type="password" placeholder=" كلمة المرور" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': registerForm.controls.password.errors }"  />
                            <error-message [control]="registerForm.controls.password" *ngIf="registersubmitted"></error-message>
                        </div> -->
                        <input ngModel name="password" #password="ngModel"  type="password" placeholder=" كلمة المرور"  class="form-control" autocomplete="off" required minlength="6">
                        <span *ngIf="password.touched  && password.errors?.required"
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                               كلمة المرور مطلوبة * 
                        </span>
                        <span  *ngIf="password.touched  && password.errors?.minlength"
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                               لا تقل كلمة المرور عن 6 ارقام 
                        </span>
                             
                           

                        <!-- <input class="form-control" type="password" placeholder="  تأكيد كلمة المرور " autocomplete="off" name="confirmPassword" [ngModel]="userObj.confirmPassword"> -->
                        <!-- <div class="form-group">
                            <input type="password" placeholder="  تأكيد كلمة المرور " formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid':  registerForm.controls.confirmPassword.errors }"  />
                            <error-message [control]="registerForm.controls.confirmPassword" *ngIf="registersubmitted"></error-message>                    
                        </div> -->
                        <input ngModel name="passwordconfirm" #passwordconfirm="ngModel" type="password" placeholder="  تأكيد كلمة المرور "  class="form-control" autocomplete="off" required>
                        <span  *ngIf="passwordconfirm.invalid && passwordconfirm.touched "
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                               تأكيد كلمة المرور مطلوب * 
                        </span>
                        <span  *ngIf="passwordconfirm.value !== password.value"
                        style="text-align: right;color: white;font-size: 12px;margin-top:-12px;padding-bottom: 15px;">
                                كلمة المرور غير متطابقة * 
                        </span>

                        <input style="background-color: white;" class="btn btn-block" type="submit" value="انشاء حساب" [disabled]="formRegister.invalid || passwordconfirm.value !== password.value">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>