<div class="d-xs-block d-lg-none">
    <a  class="mobileapp">{{headerMessage}}</a>
</div>
<img src="../../../assets/imgs/logo.png " class="d-xs-block d-lg-none  logoimage">

<div class="discover">
    <div class="container">
        <div class="row d-flex justify-content-center">
                 
            <div  class="form-group has-search">
                <div class="form-group has-search" (click)="HomeSearch(searchTxt.value)" class="mysearchicon">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" class="form-control border-right-0" #searchTxt placeholder="أغانى،فنانين،كلمات،قوائم....">
            </div>
                <!-- <div class="form-group has-search" (click)="HomeSearch(searchTxt.value)">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" class="form-control border-right-0" #searchTxt placeholder="أغانى،فنانين،كلمات،قوائم...."> -->


            <div class="newsongs" *ngIf="hideprograms">
                <h1> البرامج </h1>
                <div class="swiper-button-next">
                    <img src="../../../assets/imgs/swipernext.png">
                </div>
                <swiper [config]="config">

                    <div class="swiper-wrapper">
                        <div class="swiper-slide"  *ngFor="let prop of programsList">
                            <img [src]="prop.image" (click)="showprogrmslist(prop.id , prop.titleAr , prop.image)">
                             <p>{{prop.title}}</p>
                        </div>
                    </div>
                </swiper>
                <div class="swiper-button-prev">
                    <img src="../../../assets/imgs/swipprev.png">
                </div>
            </div>
            <!-- programs -->

            <div class="newprograms" *ngIf="hideprogrameer">
                <h1> مقدمين البرامج </h1>
                <div class="swiper-button-next1">
                    <img src="../../../assets/imgs/swipernext.png">
                </div>
                <swiper [config]="configer">

                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let prop of Reporters">
                            <img [src]="prop.image">
                             <p>{{prop.name}}</p>
                        </div>

                    </div>
                </swiper>
                <div class="swiper-button-prev1">
                    <img src="../../../assets/imgs/swipprev.png">
                </div>
            </div>



        </div>
    </div>

</div>
<!-- programms section -->
<div class="progrmaslist w-100" *ngIf="showmyprograms">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="prosubject">
                <p>موضوع البرنامج</p>
                <a (click)="opentextsection()"><img src="../../../assets/imgs/minimize.png" *ngIf="endtext"></a>
                <a (click)="openmaunsection()"><img src="../../../assets/imgs/minimize2.png" *ngIf="stext"></a>
            </div>
        </div>
        <div class="row  d-flex justify-content-center" *ngIf="allcontent">

            <div class="floatdiv col-xs-12">
                <div class="contain stopScrolMobile col-xs-12 ">
                    <div class="textpro" *ngFor="let prop of EposidesList">
                        <div class="socialpro">
                            <a><i class="fa fa-share"></i></a>
                            <a href="" target="_blank" (click)="DownloadAudio($event ,prop.id )"><i class="fas fa-download"></i></a>
                        </div>
                        <div class="mytexts" (click)="PlayTrack(prop.id , prop.title, false)">
                            <h3> {{prop.titleAr}} </h3>
                            <p> {{programName}}</p>
                        </div>
                        <div class="mimage">
                            <div class="pausedproicon w-20">
                                <a><img src="../../../assets/imgs/program small icon.png"></a>
                                <a><span>{{calcTime(prop.duration)}}</span></a>
                            </div>
                            <img [src]="programImage" class="imageapi">
                        </div>
                    </div>
                    <!-- المزيد  -->
                    <div class="more col-xs-3">
                        <a (click)="loadmoreEposides()">المزيد</a>
                    </div>
 

                </div>

                <div class="mymainimg">
                    <img [src]="programImage" >
                </div>
            </div>
            <div class="backtomain">
                <a (click)="backtomain()">
                    <i class="fas fa-share"></i>
                </a>
            </div>



        </div>
    </div>
</div>

<div class="mytext" *ngIf="myalltext">
    <div class="container">
        <div class="row col-xs-12 col-lg-9" style="margin: 0 auto;padding: 0;">
            <!-- <p style="color: white;text-align: center;">
                بعد أن عادت قيادة منظمة التحرير الفلسطينية الى ارض فلسطين بعد إتفاقيات اوسلو بين منظمة التحرير الفلسطينية واسرائيل , وبسطت نفوذها على أجزاء من الأراضى الفلسطينية التى اصبحت تحت مسؤولية السلطة الوطنية الفلسطينية , سعت الى تكوين وإنشاء وزارات ومؤسسات حكومية
                متعددة وضرورية لإدارة شئون البلاد فى هذة الفترة الإنتقالية التى نصت عليها الإتفاقيات. وكان الإعلام ووسائله المتعددة من ضمن مااهتمت به السلطة الوطنية الفلسطينية , وأنشأت هيئة الاذاعه والتليفزيون عام 1994 من استوديوهاتها فى مدينة اريحا حيث
                كانت نقطة البداية.
            </p> -->
            <p style="color: white;text-align: center;" *ngFor="let prop of programsList; let i=index">
             {{prop.titleAr}}
            </p>

        </div>
    </div>
</div>




<!-- 
<div class="showsongalert" *ngIf="hideshow"   >
    <div class="container">
        <div class="box1">
         <div class="textstwo">
             <a ><img src="../../../assets/imgs/Path 263.png"></a>
             <a class="imgclass"><img src="../../../assets/imgs/Path 262.png"></a>
 
         </div>
         <div class="textslast">
                <div class="textsone">
                     <h1>أماكن السهر</h1>
                     <p>عمرو دياب</p>
                </div>
                <a (click)="showmodalhere()"><img src="../../../assets/imgs/arrowicon.png"></a>  
         </div>
        </div>
    </div>
 </div> -->


<!-- start MusicModal -->
<!-- <div class="modal fade secondModal" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="isPlaying"
aria-hidden="true" data-backdrop="false" data-keyboard="false" [style.display]="isPlaying ? 'block' : 'none'"  [class.show]="isPlaying">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times-circle" (click)="closeMedia()"> </i>
          </span>
        </a>
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-chevron-right mymini" (click)="showminiwindow2()" style="transform: rotate(90deg);"></i>
            <i (click)="showminiwindow()"><img src="../../../assets/imgs/minimize.png"></i> it is origin coment
          </span>
        </a>
      </div>
    
      <div class="c-player" >
          <div class="row justify-content-center ">
            <img class="firstimage" src="../../../assets/imgs/artistimage.png" alt="" srcset="">
          </div>

          <div class="c-player__details">
            <div class="audio justify-content-center row">
              <audio id="songplayer" src="https://www.computerhope.com/jargon/m/example.mp3" controls controlsList="nodownload" autoplay></audio>
            </div>
            <div class="navigation  row  justify-content-center">
              <a href="" target="_blank" download><i class="fas fa-download"></i></a>  
              <a><i class="fas fa-forward"></i></a>
              <a (click)="showanothericon()" *ngIf="mainicon" id="mybuttonplay"><img class="secondimage" src="../../../assets/imgs/playericon.png"></a>

              <a *ngIf="thisicon" (click)="showamainicon()"><img class="secondimage" src="../../../assets/imgs/playedicon.png"></a>
              <a><i class="fas fa-backward"></i></a>
              <a  *ngIf="hideheart" (click)="changeheart()" ><i class="fas fa-heart"></i> </a>
              <a *ngIf="showanotherheart"><i class="far fa-heart"></i> </a>
            </div>
            <h5> أماكن السهر</h5>
          </div>
      </div>
     
    </div>
  </div>
</div>
</div> -->

<!-- end MusicModal  -->

<!-- start programModal -->
<div class="modal fade secondModal lastmodel1" id="lastModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="isPlaying" aria-hidden="true" data-backdrop="false" data-keyboard="false" [style.display]="isPlaying ? 'block' : 'none'"
    [class.show]="isPlaying">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
              <i class="fas fa-times-circle" (click)="closeMedia()"> </i>
            </span>
                    </a>
                    <a class="close" class="mini">
                        <span aria-hidden="true">
              <i *ngIf="hidelate" class="fas fa-chevron-right mymini"  style="transform: rotate(90deg);" (click)="myhello()"></i>
              <i *ngIf="hidenow" class="fas fa-chevron-right myminilast"  style="transform: rotate(270deg);" (click)="opensmodal()"></i>
              <!-- (click)="showminiwindow()"  aria-label="Close"   data-dismiss="modal"  -->

              <!-- <i (click)="showminiwindow()"><img src="../../../assets/imgs/minimize.png"></i> -->
            </span>
                    </a>
                </div>
                <!-- *** -->
                <div class="c-player">
                    <div class="row justify-content-center ">
                        <img class="firstimage" [src]="programImage" alt="" srcset="">
                    </div>

                    <div class="c-player__details">
                        <div class="audio justify-content-center row">
                            <audio [src]="currentSongURL" controls autoplay style="display: none;"></audio>
                        </div>
                        <div class="navigation  row  justify-content-center">
                            <a href="" target="_blank" download><i class="fas fa-download"></i></a>
                            <a><i class="fas fa-forward"  (click)="nextSong()"></i></a>
                            <a id="mybuttonplay">
                                <img class="secondimage" *ngIf="mainicon" src="../../../assets/imgs/playericon.png" (click)="ChangeIcons()">
                                <img class="secondimage" *ngIf="songPlayIcon" src="../../../assets/imgs/playedicon.png" (click)="ChangeIcons()">

                            </a>

                            <a *ngIf="thisicon" (click)="showamainicon()"><img class="secondimage" src="../../../assets/imgs/playedicon.png"></a>
                            <a><i class="fas fa-backward" (click)="prevSong()"></i></a>
                            <a *ngIf="hideheart" (click)="changeheart()"><i class="fas fa-heart"></i> </a>
                            <a *ngIf="showanotherheart"><i class="far fa-heart"></i> </a>
                        </div>
                        <h5> {{currentSongName}} </h5>
                        <a><span> {{programName}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- start programModal -->




<!-- end first MusicModal -->