<div class="d-xs-block d-lg-none paddingTop1">
    <a href={{mobileAppUrl}} class="mobileapp">{{headerMessage}}</a>
  </div>  
  <div class="HomeLogo">
    <img src="../../../assets/imgs/logo.png " class="">
    </div>

<div class="privacy mt-3">
    <div class="container-fluid">
        <!-- <img src="../../../assets/imgs/logo.png " class="d-xs-block d-lg-none  logoimage"> -->
        <div class="row d-flex justify-content-center mysecton">
            <div class="col-md-12">
                <h1>من نحن</h1>
            </div>
            <div class="col-xs-12 col-md-8">
                <p class="text-center">
                    بعد ان عادت قيادة منظمة التحرير الفلسطينية إلى أرض فلسطين بعد اتفاقيات أوسلو بين منظمة التحرير الفلسطينية وإسرائيل ، وبسطت نفوذها على أجزاء من الأراضي الفلسطينية التي أصبحت تحت مسؤولية السلطة الوطنية الفلسطينية ، سعت إلى تكوين وإنشاء وزارات ومؤسسات حكومية متعددة وضروريه لإدارة شؤون البلاد في هذه الفترة الانتقالية التي نصت عليها الاتفاقيات. وكان الإعلام ووسائله المتعددة من ضمن ما اهتمت به السلطة الوطنية الفلسطينية. وأنشأت هيئة الإذاعة والتلفزيون عام 1994 من استوديوهاتها في مدينة اريحا حيث كانت نقطة البداية.
                </p>
            </div>
            <div class="col-xs-12 col-md-8">
                <p class="text-center"> بعده هذه الانطلاقة مباشرة أعطت السلطة الوطنية الفلسطينية الفرصة لحرية الرأي والتعبير ، من خلال حق الأفراد والمؤسسات في إنشاء إذاعات خاصة ، وعلى ذلك انتشرت مجموعة من محطات البث الإذاعي الخاصة في الضفة الغربية وقطاع غزة وكانت تقوم بدور هام في الإعلام الفلسطيني والتثقيف والتوعية الجماهيرية .وبحلول عام 2005 اصبحت الاراضي الفلسطينية تحتوي على عدد كبير من المحطات الاذاعية المحلية التي انتشرت كانتشار النار في الهشيم في كل محافظات الوطن. واستمرت هذه المحطات بالعمل على توسيع نقاط بثها واثبات نفسها. وشهدنا تنافس كبير في تلك الفترة بين هذه المحطات من خلال البرامج وطرق تقديمها ومحتواها. وشهدنا ثورة اعلامية اخبارية، ثقافية، ترفيهية وتفاعلية كبيرة لبضع سنوات لتتحول فيما بعد من منافسة اعلامية مهنية الى منافسة تجارية بحتة بقالب اعلامي. وهنا كانت بداية نهاية ثقة المستمع بالمحتوى الاذاعي الاعلامي.    </p>
            </div>
            <div class="col-xs-12 col-md-8">
                <p class="text-center"> ومع التطور التكنولوجي الذي أخذ في الانتشار أصبح بالامكان الاستماع الى كل محطات العالم من خلال البث على الشبكة العنكبوتية. وليس فقط من خلال موجات الاثير (الاف ام ). واصبحت امكانية التواصل الاجتماعي متاحة من خلال الانترنت، فلمسنا تراجع في قوة ومدى تأثير هذه المحطات الاذاعية.      </p>
            </div>
            <div class="col-xs-12 col-md-8">
                <p class="text-center"> ومع تطور الهواتف النقالة التي اتاحت لنا المجال ان نبق متصلين في الانترنت اصبحت مواقع التواصل الاجتماعي هي الشغل الشاغل للغالبية العظمى والتي بدورها تسمح لنا بمتابعة الاخبار والتطورات الحاصلة أول بأول. فانسحب الجمهور من متابعة المحطات الاذاعية والخوض في العالم الافتراضي في المتابعة. وشح الاستماع الى الاذاعات التي تم اغلاق العديد منها لاسباب اقتصادية واخرى سياسية.
                    ومن هنا بدأت الفكرة..... فكرة اقامة اذاعة تفاعلية خدماتية وشبابية من قلب مدينة القدس، وذلك لحاجتها الى جسم اعلامي شبابي مستقل في المدينة.
                     فقد اخذت على عاتقها مجموعة من شباب ورجال اعمال مقدسيين تبني مشروع انشاء محطة اذاعية اجتماعية عبر الاثير والانترنت لتكون منبرا ونبراسا اعلاميا فريدا ينبض بصوت الشباب المقدسي، ومن قلب مدينة القدس.  </p>
            </div>
            <div class="col-xs-12 col-md-8">
                <p class="text-center"> اذاعة يبوس اف ام هي الاذاعة الفلسطينية المستقلة الاولى والوحيدة في مدينة القدس، والتي أعادت إحياء ثقافة الاذاعات التفاعلية في المجتمع الفلسطيني عموما والمقدسي خصوصا. والسبب في ذلك يعود الى تبني يبوس اف ام  لفكرة البرامج القصيرة جدا في ايصال الرسالة الاعلامية في مختلف المناحي الحياتية والابتعاد عن البرامج الحوارية المطولة التي اثقلت كاهل المستمعين .
                  يبوس، اذاعة مجتمعية غير ربحية لذلك لا تبث اي اعلان تجاري. 
                  
                  يبوس اف ام  تبث على الموجة 87,8 اف ام وتقدم خدمات بث اعلامي معتدل و متوازن لتحفيز مفاهيم الحرية والعيش بكرامة والارتقاء بمكانة الانسان والمكان في مدينة القدس. </p>
            </div>
        </div> 
    </div>
   </div>


   <!-- minimize song model -->
   <!-- start MusicModal -->
<div class="modal fade secondModal" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="closmymedia" aria-hidden="true" data-backdrop="false" data-keyboard="false" [style.display]="closmymedia ? 'block' : 'none'" [class.show]="closmymedia">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="con">
            <div class="modal-body">
                <div class="row">
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
              <i class="fas fa-times-circle" (click)="closemyMedia()"> </i>
            </span>
                    </a>
                    <a class="close" class="mini">
                        <span aria-hidden="true">
              <i *ngIf="hidelate" class="fas fa-chevron-right mymini"  style="transform: rotate(90deg);" (click)="myhello()"></i>
              <i *ngIf="hidenow" class="fas fa-chevron-right myminilast"  style="transform: rotate(270deg);" (click)="opensmodal()"></i>
              <!-- (click)="showminiwindow()"  aria-label="Close"   data-dismiss="modal"  -->

              <!-- <i (click)="showminiwindow()"><img src="../../../assets/imgs/minimize.png"></i> -->
            </span>
                    </a>
                </div>
                <!-- *** -->
                <div class="c-player">
                    <div class="row justify-content-center ">
                        <img class="firstimage" src="../../../assets/imgs/artistimage.png" alt="" srcset="">
                    </div>

                    <div class="c-player__details">
                        <div class="audio justify-content-center row">
                            <audio id="songplayer" [src]="currentSongURL" controls controlsList="nodownload" autoplay style="display: none;"></audio>
                        </div>
                        <div class="navigation  row  justify-content-center">
                            <a href="" target="_blank"><i class="fas fa-download"></i></a>
                            <a><i class="fas fa-forward" ></i></a>
                            <a id="mybuttonplay">
                                <img class="secondimage" *ngIf="mainicon" src="../../../assets/imgs/playericon.png" (click)="showanothericon()">
                                <img class="secondimage" *ngIf="songPlayIcon" src="../../../assets/imgs/playedicon.png" (click)="showamainicon()" >

                            </a>

                            <a *ngIf="thisicon" (click)="showamainicon()"><img class="secondimage" src="../../../assets/imgs/playedicon.png"></a>
                            <a><i class="fas fa-backward"></i></a>
                            <a *ngIf="hideheart" (click)="changeheart()"><i class="fas fa-heart"></i> </a>
                            <a *ngIf="showanotherheart"><i class="far fa-heart"></i> </a>
                        </div>
                        <h5>أماكن السهر</h5>
                    </div>
                </div>
                <!-- *** -->
            </div>
        </div>
    </div>
</div>

<!-- end MusicModal -->
