@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
::ng-deep{
    .text-danger{
        color: white !important;
        text-align: right;
        text-indent: 24px !important;
    }
    ::placeholder{
        text-indent: 24px !important;
    }
}



.toast-container {
    pointer-events: none;
    position: fixed;
    /* z-index: 999999; */
    z-index: 10000000000000000000000;
    /*  */
  }

.toast-success {
    /* background-color: #51A351; */
   background-color: #106666 !important;
  }
  .toast-error {
    // background-color: #BD362F; 
   background-color: #106666 !important;
  }
  .toast-info {
    background-color: #106666 !important;
  }
  .toast-warning {
    background-color: #106666 !important;
  }


/* You can add global styles to this file, and also import other style files */

// ***************** fonts ************************
@import '~ngx-toastr/toastr.css';
@font-face {
    font-family: "29ltbukraregular";
    src: url("assets/fonts/29ltbukraregular.ttf");
}

@font-face {
    font-family: "29lt-bukra-bold";
    src: url("assets/fonts/29lt-bukra-bold.ttf");
}

// ******************* responsive**********************
@mixin MediaQuery($Size) {
    @if $Size==xs {
        @media (max-width: 575.98px) {
            @content;
        }
    }
    @if $Size==s {
        @media (min-width: 575.99px) and (max-width: 767.98px) {
            @content;
        }
    }
    @if $Size==M {
        @media (min-width: 768px) and (max-width: 991.98px) {
            @content;
        }
    }
    @if $Size==L {
        @media (min-width: 992px) and (max-width: 1199.98px) {
            @content;
        }
    }
    @if $Size==XL {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @if $Size==XL-XXL {
        @media (min-width: 1200px) and (max-width: 1354.98px) {
            @content;
        }
    }
    @if $Size==XXL {
        @media (min-width: 1355px) {
            @content;
        }
    }
    //   *********************
    @if $Size==XL+L {
        @media (min-width: 992px) {
            @content;
        }
    }
    @if $Size==xs+s {
        @media (max-width: 767.98px) {
            @content;
        }
    }
    @if $Size==xs+s+M {
        @media (max-width: 991.98px) {
            @content;
        }
    }
}

//*************************************************
a:hover {
    text-decoration: none;
}

body {
    font-size: 18px;
    font-family: "29ltbukraregular" !important;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    z-index: -1;
    overflow-x: hidden;
}

// ***********
.backGround-1 {
    background-image: url(assets/imgs/background.png);
}

$white:#fff;
$basicColor:#106666;


@media(max-width: 767px){
    .stopScrolMobile {
        overflow: inherit !important;
        min-height: auto;
        max-height: inherit;
        height: auto !important;
    }
}

.ng-invalid.ng-touched {border-color: #f00 !important;}
.alertMessage {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    color: #f00 !important;
    font-size: 12px ;
    margin-top: 5px;

}

.imageSong{
    max-height: 150px;
    height: 100%;
}
.greenBox {
    background-color: #106666;
    border-radius: 15px;
    color: #fff;
}
.btnReadMore {
    background: #1f8f95;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
}

.btnReadMore:hover {
    background: #35acb3;
    color: #eee;
    text-decoration: none;
}
.imageArtist {
    width: 100%;
    max-width: 200px;
}

/* Player Sryle Start */
.modalContainer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: #106666;
    color: #fff;
    width: 100%;
    max-width: 870px;
    border-radius: 20px 20px 0 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}
.ngClassPlay {
    background: transparent !important;
    border:  0 !important;
    outline: none !important;
    padding: 0 20px;
}
.modalBody {
    position: relative;
}

.textContentLive {
    max-width: 80%;
    float: left;
}

.liveButtonSection {
    max-width: 20%;
    float: revert;
}

/* track player  */
.imageTrack {
    width: 70px;
    float: left;
    margin-top: 7px;
}
.ngClassPlayFooter {
    padding: 0 8px;
    width: 70px;
    margin-top: 14px;
}
.ngClassPlayFooter img {
    max-width: 100%;
    /* max-height: 100% !important; */
}

.imageTrack img {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
    background: #ccc;
}

.trackSeekBar {
    width: calc(100% - 220px);
    float: left;
    padding: 0 15px;
}

/* seek par rang design */
/* Special styling for WebKit/Blink */
.rangTrack {
    width: 100% !important;
}


input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: none;
    background: #3cb8ba;
    border-radius: 0px; /* rad  25*/
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #1a9298;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3cb8ba;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: #3cb8ba;
    border-radius: 0px; /* rad  25*/
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #1a9298;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3cb8ba;
    border: 0;
    border-radius: 1px; /* rad */
    box-shadow: none;
  }
  input[type=range]::-ms-fill-upper {
    background: #3cb8ba;
    border: 0;
    border-radius: 1px; /* rad */
    box-shadow: none;
  }
  input[type=range]::-ms-thumb {
    box-shadow: none;
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: #1a9298;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3cb8ba;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3cb8ba;
  }
  
  body {
    padding: 30px;
  }
  
/* Player Sryle End */